TZ=America/Chicago
PUID=1000
PGID=1000
JELLYFIN_URL=http://host.docker.internal:8096
JELLYFIN_USER_ID=replace-with-jellyfin-user-id
TANGARA_ITEM_IDS=replace-with-comma-separated-item-ids
TANGARA_SYNC_PORT=8787
